.item_all-{
    
display: flex;
list-style-type: none;
}

.item{
background-color: aqua;
margin: 20px 10px ;
padding: 20px;
border: 2px solid red;



}


.link{

background-color:blueviolet ;

}

link:hover{
    display: block;
background-color:blue ;



}

nav{background-color: red;}


input ::placeholder{color: red;}

h1+p{color: green;}                  /* first p after h1*/

h2 ~ p {  color: red;}                  /* all p after h2*/

p::first-letter{color: blue;}           /* first letter in p */
/*p::first-line{color: blueviolet;}*/     /* first line in p */
 
div > h3 { color: blue; }            /* h3  from div */
